.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    margin: 20px 0 20px;
    color: #ffffff;
}

.description {
    width: 400px;
}


