.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
}

.dashboard > button {
    display: block;
    margin: 0 auto 20px auto;
}

h2 {
    margin: 40px 0 20px;
    color: #ffffff;
}


