.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
}

.profile > button {
    display: block;
    margin: 0 auto 20px auto;
}
