.button {
    margin-top: 30px;
    padding: 8px 14px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.primary {
    background-color: #064b75;
    color: #ffffff;
}

.primary:hover {
    background-color: #064265;
}

.logout {
    background-color: #ba3521;
    color: #ffffff;
}

.logout:hover {
    background-color: #a62f1e;
    color: #ffffff;
}

.button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}