.card {
    border: 2px solid #e4e1d2;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #ebe7d9;
    max-width: 500px;
}

.title {
    margin: 0 0 10px 0;
    color: #444;
}

.actions {
    margin-top: 10px;
    text-align: center;
}

.title h2 {
    color: #444;
}

.card p {
    margin: 20px 0;
    color: #444;
}

.card input {
    width: 300px;
    padding: 8px;
    margin: 4px auto 20px auto;
    border-radius: 4px;
    border: 1px solid #e4e1d2;
    font-size: 14px;
}

.card textarea {
    min-height: 80px;
    overflow: auto;
    resize: vertical;
    width: 470px;
    padding: 8px;
    margin: 4px auto 20px auto;
    border-radius: 4px;
    border: 1px solid #e4e1d2;
    font-size: 14px;
}

.card select {
    width: 200px;
    padding: 8px;
    margin: 4px auto 20px auto;
    border-radius: 4px;
    border: 1px solid #e4e1d2;
    font-size: 14px;
}

.card button {
    display: block;
    margin: 30px auto 20px auto;
}