.card {
    border: 2px solid #555555;
    box-shadow: 3px 3px 0 #555555;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #ebe7d9;
    max-width: 500px;
}

.title {
    margin: 0 0 10px 0;
    color: #444;
}

.actions {
    margin-top: 10px;
    text-align: center;
}

.title h2 {
    color: #444;
}

.card p {
    margin: 20px 0;
    color: #444;
}

.card button {
    display: block;
    margin: 30px auto 20px auto;
}